DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/payout_lite?sslmode=require"

# Nomba
NOMBA_ENV="test"
NOMBA_BASE_URL="https://api.nomba.com"
NOMBA_ACCOUNT_ID=""
NOMBA_SUB_ACCOUNT_ID=""
NOMBA_CLIENT_ID=""
NOMBA_PRIVATE_KEY=""
NOMBA_WEBHOOK_SECRET=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Groq
GROQ_API_KEY=""

# Resend (invoice emails)
RESEND_API_KEY=""
# Must be a verified sender domain in your Resend account
RESEND_FROM_EMAIL="invoices@yourdomain.com"

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/dashboard
