DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/payout_lite?sslmode=require"

NOMBA_ENV="test"
NOMBA_BASE_URL="https://api.nomba.com"
NOMBA_ACCOUNT_ID=""
NOMBA_SUB_ACCOUNT_ID=""
NOMBA_CLIENT_ID=""
NOMBA_PRIVATE_KEY=""
NOMBA_WEBHOOK_SECRET=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"

GROQ_API_KEY=""
